body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgray;
}

h1 {
    font-size: 32px;
    font-family: Georgia, serif;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.mood {
    color: darkgreen;
    font-weight: bold;
}

#main {
    color: darkblue;
    text-align: center;
}